.accordion {
    margin-top: 50px;
    cursor: pointer;

    input {
        display: none;

        &:not(:checked) + div {
            display: none;
        }
    }

    span {
        font-weight: bold;
    }
}

.skiplink:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;  
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;  
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }